@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@layer base {
    body {
      @apply bg-light m-0 p-0 box-border font-roboto;
    }
  }


.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
}

/* Remove chrome autofill color from inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.scroll-to-top-button.hidden {
  opacity: 0;
}

/* src/components/ScrollSpy.css */
.scroll-spy {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

ul {
  list-style: none;
  padding: 0;
  margin-left: -3rem;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

.active {
  color: white;
  background-color: #9DB2BF; /* Set the background color to red for the active section */
  width: 1rem;
  height: 1rem;
  padding: 5px;
  border-radius: 100%;
}
