@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      @apply bg-light m-0 p-0 box-border font-roboto;
    }
  }


.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
}

/* Remove chrome autofill color from inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}